html,body{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.content{
  height: 100%;
  padding: 1em;
  background-color: $color-content-background;
}
iframe{
  border: none;
  width: 100%;
  height: 100%;
}
